html, body{
  height: 100%;
  width: 100%;
}

body {
  background: #666;
  color: #888;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

a, a:focus, a:active {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
  color: #f00;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #333;
}

.section-title {
  font-size: 1.3em;
  text-transform: uppercase;
  line-height: 1.05em;
  font-weight: 300;
}

.section-title-sm {
  font-size: 1em;
  font-weight: 100;
  line-height: 1.45em;
  color: #666;
}

.main-container {
  background-color: #fff;
  padding: 40px 20px;
}

.section-container {
  margin: 10px 0;
  border-top: 1px dotted #ddd;
  padding-top: 10px;
}

.role{
  font-size: 16px;
  font-weight: 300;
}

.name-role {
  color: #333;
}

.biopic {
  width: 170px;
  margin-right: 20px;
}

.contact-text {
  margin-left: 10px;
}

.welcome-container {
  background-color: #f3f3f3;
  padding: 20px;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  list-style: none;
}

.flex-item {
  margin: 10px;
  font-weight: 100;
}

.map-row {
  display: block;
  height: 400px;
}

.map-container {
  width: 100%;
  margin: 10px 0;
  border-top: 1px dotted #ddd;
  padding: 10px 0;
}

.section-header {
  margin-bottom: 20px;
}

.section-header .fa {
  color: #aaa;
  font-size: 1.2em;
  vertical-align: -10%;
  margin-right: 15px;
}

.work-entry, .education-entry, .training-entry {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ddd;
}
.work-date-location {
  vertical-align: top;
  margin-bottom: 0;
}

.project-container {
  background-color: #efefef;
  padding: 20px 0;
}

.project-image {
  margin: 5px;
  width: 120px;
}

.project-description {
  text-align: justify;
  font-size: 12px;
  letter-spacing: 0;
}

footer{
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.primary-contacts i {
  font-size: 2em;
}

.footer-social {
  margin: 20px 0;
}

.footer-social li {
  display: inline-block;
  margin: 0 10px;
}

.footer-social li a:hover{
  background: #3b5998;
  opacity: 0.8;
  color: #fff;
  border: 0;
}

.footer-social li a{
  padding: 20px;
  font-size: 1.5em;
  border-radius: 4px;
  margin: 20px 0 10px 0;
  display: block;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.reset-border {
  border: 0;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width:900px) {

}

@media only screen and (max-width: 750px) {

}

@media only screen and (max-width: 600px) {

  .flex-item {
    width: auto;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

@media only screen and (max-width: 500px) {
  .biopic {
    width: 120px;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

@media only screen and (max-width: 380px) {
  .main-container {
    padding: 20px 10px;
  }
  .fullname {
    font-size: 1.8em;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .biopic {
    display: none;
  }
}
